
body {
  background-color: #E6E9ED;
}

h3 {
  display: inline-block;
  width: 50%;
}

#header {
  padding-left: 40px;
}

#nav {
  text-align: right;
  display: inline-block;
  width: 48%;
}

.nav-link {
  display: inline-block;
  text-align: center;
  width: 100px;
}

.nav-link a {
  color: #4B77BE;
  font-size: 16px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

.nav-link a:hover {
  color: #5D9CEC;
  font-size: 18px;
  padding-bottom: 8px;
}

#toggle-btn {
  margin-left: 30px;
}

#section-1 {
  padding: 30px;
  height: 400px;
  min-height: 400px;
  background-color: #4B77BE;
  color: #FFF;
}

#section-2 {
  padding: 20px;
  height: 400px;
  min-height: 400px;
  background-color: #FFF;
}

#section-3 {
  padding: 20px;
  height: 400px;
  min-height: 400px;
  background-color: #5D9CEC;
  color: #FFF;
}

#blinker {
  margin-left: -4px;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
}

#contact-container, #message-container {
  margin-top: 14px;
}

#contact-container .form-control, #message-container .form-control {
  margin-bottom: 18px;
}

.contact-title {
  font-size: 24px;
  margin-bottom: 24px;
}

#message-container .btn {
  width: 200px;
}

.section-container {
  font-size: 18px;
  letter-spacing: 1px;
  display: table;
  width: 100%;
}

#mission-statement, #image-container {
  display: table-cell;
  vertical-align: middle;
}

#mission-statement {
  width: 70%;
  padding-left: 40px;
}

#image-container img {
  border-radius: 110px;
}

.info-container {
  min-height: 300px;
  padding: 22px;
  background-color: #fff;
  border-radius: 2px;
  color: black;
}

.info-title {
  font-size: 18px;
  margin-bottom: 12px;
}

.info-description {
  font-size: 16px;
  text-align: left;
}


